.navbar {
    background: rgba(0, 0, 0, 0.8); /* Transparent background */
    transition: background 0.3s ease;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: white !important;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff9800 !important;
}
